[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/opt/SITENAME
ExecStart=/opt/SITENAME/venv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket  \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    main.wsgi:application

[Install]
WantedBy=multi-user.target